<div class="container">
  @if (!isAdminLogedIn && !isCustomerLogedIn) {
  <mat-toolbar>
    <mat-icon>shopping_cart</mat-icon>
    <span>
      Shopping Cart
    </span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="#">Track Order</button>
    <button mat-button routerLink="/signup">Signup</button>
    <button mat-button routerLink="/login">Login</button>
  </mat-toolbar>
  }

  @if (isAdminLogedIn) {
    <mat-toolbar>
      <mat-icon>shopping_cart</mat-icon>
      <span>
        Shopping Cart
      </span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="">Dashboard</button>
      <button mat-button routerLink="">Analytics</button>
      <button mat-button routerLink="/admin/category">Category</button>
      <button mat-button routerLink="/admin/product">Product</button>
      <button mat-button routerLink="">Orders</button>
      <button mat-button routerLink="">Post Coupon</button>
      <button mat-button routerLink="">Coupons</button>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
  }

  @if (isCustomerLogedIn) {
    <mat-toolbar>
      <mat-icon>shopping_cart</mat-icon>
      <span>
        Shopping Cart
      </span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="">Dashboard</button>
      <button mat-button routerLink="">Orders</button>
      <button mat-button routerLink="">Wishlist</button>
      <button mat-button routerLink="">Profile</button>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
  }
</div>

<router-outlet />